Project-1._Ноутбук-шаблон.ipynb
large_dataset.xlsx
*.csv
*.xlsx
*.json

# Файлы Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
.DS_Store

# VS Code настройки
.vscode/

# Временные файлы
*.tmp
*.temp

# Логи
*.log

# Файлы операционных систем
Thumbs.db